.dashboard {
    width: 84.375%;
    padding: 16px;
    overflow-y: overlay;
    height: 532px;
    background-color: var(--cool-gray-050);

    @include mobile {
        width: 100%;
        height: 100%;
    }

    @include tablet {
        width: 100%;
        height: 100%;
    }

    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 1660px;

        @include mobile {
            height: 2180px;
        }

        @include tablet {
            height: 2180px;
        }


    }

    &-chart {
        box-shadow: var(--box-shadow);
        border-radius: 16px;
        width: 100%;
        height: 570.85px;
        background-color: #fff;

        &-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            height: 506.85px;
        }

        &-header {
            margin: 32px 0;
            width: 100%;
            height: 58px;

            h1 {
                margin-left: 32px;
                font-weight: 700;
                font-size: 20px;
                line-height: 150%;
                color: var(--cool-gray-900);
            }
        }

        &-content {
            width: 100%;
            height: 418.85px;

            #myChart {
                width: 100%;
                height: 100%;
                max-width: 1285px;
                max-height: 430px;
                min-height: 430px;
                padding: 0 32px;
                cursor: pointer;

                @include mobile {
                    padding: 0 8px;
                }
            }
        }
    }

    &-tactics {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background-color: var(--cool-gray-050);

        @include mobile {
            flex-direction: column;
            height: 912px;
        }

        @include tablet {
            flex-direction: column;
            height: 912px;
        }

        &-customers {
            width: calc(30% - 8px);
            max-width: 380.33px;
            height: 448px;
            box-shadow: var(--box-shadow);
            border-radius: 16px;
            padding: 16px;
            cursor: pointer;
            background-color: #fff;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
                max-width: 650px;
            }

            &-header {
                width: 100%;
                height: 30px;
                margin-bottom: 20px;

                h1 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: var(--cool-gray-900);
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 100%;
                height: 370px;
                overflow-y: auto;
                overflow-x: hidden;

                div {
                    width: 100%;
                    height: 59px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    border-bottom: 1px solid var(--cool-gray-200);
                    transition: all 0.5s ease;

                    &:hover {
                        transform: scale(1.00);
                        padding-left: 30px;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                        border-radius: 100px;
                        margin-right: 10px;

                    }

                    div {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        margin: 0;

                        h1 {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: var(--cool-gray-900);
                            margin: 0;
                        }

                        h2 {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            color: var(--cool-gray-500);
                            margin: 0;
                        }
                    }
                }
            }
        }


        &-products {
            width: calc(70% - 8px);
            max-width: 920.67px;
            height: 448px;
            box-shadow: var(--box-shadow);
            border-radius: 16px;
            padding: 16px;
            cursor: pointer;
            background-color: #fff;

            @include mobile {
                width: 100%;
            }

            @include tablet {
                width: 100%;
            }

            &-header {
                width: 100%;
                height: 30px;
                margin-bottom: 20px;

                h1 {
                    margin: 0;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 150%;
                    color: var(--cool-gray-900);
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 370px;
                overflow-y: auto;

                div {
                    display: flex;
                    width: 100%;
                    height: 59px;
                    border-bottom: 1px solid var(--cool-gray-200);

                    div {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-align: left;
                        transition: all 0.5s ease;

                        &:hover {
                            transform: scale(1.0);
                            margin-left: 30px;
                        }

                        h1 {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 150%;
                            color: var(--cool-gray-900);
                            margin: 0;
                        }

                        h2 {
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            color: var(--cool-gray-500);
                            margin: 0;
                        }
                    }

                    p {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        margin: 0 5px 0 0;


                        span {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            color: var(--cool-gray-900);
                            margin-right: 3px;
                        }
                    }
                }
            }
        }
    }

    &-table {
        width: 100%;
        height: 473px;
        box-shadow: var(--box-shadow);
        border-radius: 16px;
        background-color: #fff;
        cursor: pointer;

        &-container {
            width: 100%;
            height: 441px;
            display: flex;
            flex-direction: column;
        }

        &-header {
            height: 66px;
            width: 100%;


            h1 {
                margin: 16px 16px 0 16px;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                color: var(--cool-gray-900);
            }

            h2 {
                margin: 0 16px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: var(--gray-500);

            }
        }

        &-content {
            height: 375px;
            width: 100%;
            padding: 0 16px;
            margin-top: 16px;
            overflow-y: overlay;

            table {
                width: 100%;
                max-height: 370px;
                border-radius: 12px;
                border: none;
                padding: 2px;
                box-sizing: border-box;
                box-shadow: var(--box-shadow);
                overflow-y: overlay;

                @include mobile {
                    width: 200%;
                    overflow-x: auto;
                }

                thead {
                    width: 100%;
                    height: 50px;
                    text-align: left;
                    background-color: var(--cool-gray-050);

                    th {
                        border: none;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 150%;
                        color: var(--cool-gray-500);

                        padding: 16px;
                    }
                }

                tbody {
                    width: 100%;
                    border: none;

                    tr.even-row {
                        background-color: var(--cool-gray-050);
                    }

                    td {
                        margin-left: 16px;
                        border: none;
                        height: 54px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: left;
                        padding: 16px;
                        color: var(--cool-gray-900);
                        transition: all 0.5s ease;

                        &:hover {
                            transform: scale(1.0);
                            box-shadow: var(--box-shadow);
                        }

                        // custome time column
                        &.time-column {
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 20px;
                            color: var(--cool-gray-500);
                        }

                        div {
                            display: inline;
                            border-radius: 10px;
                            padding: 2px 10px;
                        }

                        // done status
                        .done {
                            background-color: var(--green-100);
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            text-align: center;
                            color: var(--green-800);
                        }

                        // cancelled status
                        .canceled {
                            background-color: var(--red-200);
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            text-align: center;
                            color: var(--red-800);
                        }

                        //pendings status
                        .pending {
                            background-color: var(--blue-100);
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 150%;
                            text-align: center;
                            color: var(--blue-800);
                        }
                    }
                }
            }
        }
    }

    &-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        box-shadow: var(--box-shadow);
        border-radius: 16px;
        background-color: #fff;

        @include mobile {
            height: 176px;
        }

        @include tablet {
            height: 176px;
        }

        &-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 90%;
            height: 24px;


            @include mobile {
                flex-direction: column;
                justify-content: center;
            }

            @include tablet {
                flex-direction: column;
                justify-content: center;
            }
        }

        &-title {
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: var(--cool-gray-500);

            @include mobile {
                margin: 48px 32px 35px 32px;
            }

            @include tablet {
                margin: 48px 32px 35px 32px;
            }
        }

        &-group {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            cursor: pointer;

            @include mobile {
                justify-content: start;
                margin: 0 32px 20px 32px;
            }

            @include tablet {
                justify-content: start;
                margin: 0 32px 20px 32px;
            }

            i {
                display: flex;
                align-items: center;
                transition: all 0.7s ease;
                color: var(--cool-gray-900);

                &:hover {
                    transform: scale(2.0);
                }
            }

            i+i {
                margin-left: 30px;
            }
        }
    }
}