@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
:root {
  --cool-gray-050: #F9FAFB;
  --cool-gray-100: #F3F4F6;
  --cool-gray-200: #E5E7EB;
  --cool-gray-300: #D1D5DB;
  --cool-gray-400: #9CA3AF;
  --cool-gray-500: #6B7280;
  --cool-gray-600: #4B5563;
  --cool-gray-700: #374151;
  --cool-gray-800: #1F2937;
  --cool-gray-900: #111827;
  --gray-500: #71717A;
  --red-050: #FDF2F2;
  --red-100: #FDE8E8;
  --red-200: #FBD5D5;
  --red-300: #F8B4B4;
  --red-400: #F98080;
  --red-500: #F05252;
  --red-600: #E02424;
  --red-700: #C81E1E;
  --red-800: #9B1C1C;
  --red-900: #233876;
  --blue-050: #EBF5FF;
  --blue-100: #E1EFFE;
  --blue-200: #C3DDFD;
  --blue-300: #A4CAFE;
  --blue-400: #76A9FA;
  --blue-500: #3F83F8;
  --blue-600: #1C64F2;
  --blue-700: #1A56DB;
  --blue-800: #1E429F;
  --blue-900: #233876;
  --green-050: #F3FAF7;
  --green-100: #DEF7EC;
  --green-200: #BCF0DA;
  --green-300: #84E1BC;
  --green-400: #31C48D;
  --green-500: #0E9F6E;
  --green-600: #057A55;
  --green-700: #046C4E;
  --green-800: #03543F;
  --green-900: #014737;
  --box-shadow-1-color: rgba(0, 0, 0, 0.06);
  --box-shadow-2-color: rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 1px 2px var(--box-shadow-1-color), 0px 1px 3px var(--box-shadow-2-color);
}

:root {
  --font-family: "Inter", sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: overlay;
  margin: 0;
  padding: 0;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

container {
  width: 100%;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.navbar-left-content {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-left: 16px;
}
.navbar-left-content-logo {
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
@media screen and (max-width: 450px) {
  .navbar-left-content-logo {
    display: none;
  }
}
.navbar-left-content-bars {
  opacity: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .navbar-left-content-bars {
    opacity: 1;
    position: absolute;
    font-size: 2rem;
    color: var(--cool-gray-900);
  }
}
.navbar-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
  margin-right: 16px;
}
.navbar-actions {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  margin-right: 19.6px;
  cursor: pointer;
}
.navbar-actions i {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 1.2rem;
  transition: all 0.7s ease;
  color: var(--cool-gray-900);
}
.navbar-actions i:hover {
  transform: scale(1.5);
}
.navbar-user img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.separator {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cool-gray-200);
}

.homepage {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  top: 71px;
  height: calc(100vh - 71px);
  left: 0;
}
@media screen and (max-width: 450px) {
  .homepage {
    height: 100vh;
  }
}
@media screen and (max-width: 768px) {
  .homepage {
    height: calc(100vh - 71px);
  }
}

.sidebar {
  padding: 0px;
  width: 15.625%;
  min-width: 125px;
  height: 100%;
  border-right: 1px solid var(--cool-gray-200);
}
@media screen and (max-width: 450px) {
  .sidebar {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .sidebar {
    height: 100%;
  }
}
.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: calc(100% - 32px);
}
@media screen and (max-width: 768px) {
  .sidebar-top {
    height: calc(100% - 32px);
  }
}
.sidebar-top-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .sidebar-top-content {
    height: 100%;
  }
}
.sidebar-overview {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid var(--cool-gray-200);
  color: var(--blue-600);
  cursor: pointer;
}
.sidebar-overview-content {
  width: 100%;
}
.sidebar-overview-content a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 63px;
  background-color: #fff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  transition: all 0.5s ease;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 768px) {
  .sidebar-overview-content a {
    font-size: 12px;
    line-height: 120%;
    padding-left: 10px;
  }
}
.sidebar-overview-content a:hover {
  box-shadow: var(--box-shadow);
  color: var(--blue-600);
  transform: scale(1);
  cursor: pointer;
}
.sidebar-overview-content a:active {
  box-shadow: var(--box-shadow);
  color: var(--blue-600);
}
.sidebar-overview-content-icon i {
  width: 16.8px;
  height: 16.8px;
  margin-right: 5px;
  font-size: 1.1rem;
}
.sidebar-overview-content-text {
  margin: 0 0 0 12.6px;
  text-align: left;
}
@media screen and (max-width: 768px) {
  .sidebar-overview-content-text {
    font-size: 14px;
    line-height: 120%;
  }
}
.sidebar-items {
  width: 100%;
  height: 520px;
  overflow-x: hidden;
  overflow-y: overlay;
}
@media screen and (max-width: 768px) {
  .sidebar-items {
    height: calc(100% - 80px);
  }
}
.sidebar-items a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border: none;
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  transition: all 0.5s ease;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 768px) {
  .sidebar-items a {
    font-size: 12px;
    line-height: 120%;
    padding-left: 10px;
  }
}
.sidebar-items a i {
  width: 16.8px;
  height: 16.8px;
  margin-right: 5px;
  font-size: 1.1rem;
}
.sidebar-items a p {
  margin: 0 0 0 12.6px;
  text-align: left;
}
.sidebar-items a:hover {
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  color: var(--blue-600);
  transform: scale(1.1);
  cursor: pointer;
}
.sidebar-items a:active {
  box-shadow: var(--box-shadow);
  color: var(--blue-600);
}
.sidebar-bottom {
  width: 100%;
}
.sidebar-bottom button {
  width: 100%;
  height: 32px;
  background-color: var(--blue-600);
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--blue-100);
}
.sidebar-bottom button:hover {
  background-color: var(--blue-800);
  cursor: pointer;
}

.dashboard {
  display: flex;
  width: 84.375%;
  padding: 16px;
  overflow-y: overlay;
  height: 100%;
  margin-right: 0;
  background-color: var(--cool-gray-050);
}
@media screen and (max-width: 450px) {
  .dashboard {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dashboard {
    width: 100%;
    height: 100%;
  }
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1660px;
}
@media screen and (max-width: 450px) {
  .dashboard-content {
    height: 2180px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-content {
    height: 2180px;
  }
}
.dashboard-chart {
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  width: 100%;
  height: 570.85px;
  background-color: #fff;
}
.dashboard-chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 506.85px;
}
.dashboard-chart-header {
  margin: 32px 0;
  width: 100%;
  height: 58px;
}
.dashboard-chart-header h1 {
  margin-left: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-chart-content {
  width: 100%;
  height: 418.85px;
}
.dashboard-chart-content #myChart {
  width: 100%;
  height: 100%;
  max-height: 430px;
  min-height: 430px;
  padding: 0 32px;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .dashboard-chart-content #myChart {
    padding: 0 8px;
  }
}
.dashboard-tactics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: var(--cool-gray-050);
}
@media screen and (max-width: 450px) {
  .dashboard-tactics {
    flex-direction: column;
    height: 912px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-tactics {
    flex-direction: column;
    height: 912px;
  }
}
.dashboard-tactics-customers {
  width: calc(30% - 8px);
  height: 448px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  background-color: #fff;
}
@media screen and (max-width: 450px) {
  .dashboard-tactics-customers {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-tactics-customers {
    width: 100%;
    max-width: 650px;
  }
}
.dashboard-tactics-customers-header {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.dashboard-tactics-customers-header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-tactics-customers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 370px;
  overflow-y: auto;
  overflow-x: hidden;
}
.dashboard-tactics-customers-content div {
  width: 100%;
  height: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--cool-gray-200);
  transition: all 0.5s ease;
}
.dashboard-tactics-customers-content div:hover {
  transform: scale(1);
  padding-left: 30px;
}
.dashboard-tactics-customers-content div img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin-right: 10px;
}
.dashboard-tactics-customers-content div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}
.dashboard-tactics-customers-content div div h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin: 0;
}
.dashboard-tactics-customers-content div div h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  margin: 0;
}
.dashboard-tactics-products {
  width: calc(70% - 8px);
  height: 448px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 16px;
  cursor: pointer;
  background-color: #fff;
}
@media screen and (max-width: 450px) {
  .dashboard-tactics-products {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-tactics-products {
    width: 100%;
  }
}
.dashboard-tactics-products-header {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.dashboard-tactics-products-header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-tactics-products-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 370px;
  overflow-y: auto;
}
.dashboard-tactics-products-content div {
  display: flex;
  width: 100%;
  height: 59px;
  border-bottom: 1px solid var(--cool-gray-200);
}
.dashboard-tactics-products-content div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  transition: all 0.5s ease;
}
.dashboard-tactics-products-content div div:hover {
  transform: scale(1);
  margin-left: 30px;
}
.dashboard-tactics-products-content div div h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin: 0;
}
.dashboard-tactics-products-content div div h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  margin: 0;
}
.dashboard-tactics-products-content div p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px 0 0;
}
.dashboard-tactics-products-content div p span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin-right: 3px;
}
.dashboard-table {
  width: 100%;
  height: 473px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: #fff;
  cursor: pointer;
}
.dashboard-table-container {
  width: 100%;
  height: 441px;
  display: flex;
  flex-direction: column;
}
.dashboard-table-header {
  height: 66px;
  width: 100%;
}
.dashboard-table-header h1 {
  margin: 16px 16px 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-table-header h2 {
  margin: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-500);
}
.dashboard-table-content {
  height: 375px;
  width: 100%;
  padding: 0 16px;
  margin-top: 16px;
  overflow-y: overlay;
}
.dashboard-table-content table {
  width: 100%;
  max-height: 370px;
  border-radius: 12px;
  border: none;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  overflow-y: overlay;
}
@media screen and (max-width: 450px) {
  .dashboard-table-content table {
    width: 200%;
    overflow-x: auto;
  }
}
.dashboard-table-content table thead {
  width: 100%;
  height: 50px;
  text-align: left;
  background-color: var(--cool-gray-050);
}
.dashboard-table-content table thead th {
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  padding: 16px;
}
.dashboard-table-content table tbody {
  width: 100%;
  border: none;
}
.dashboard-table-content table tbody tr.even-row {
  background-color: var(--cool-gray-050);
}
.dashboard-table-content table tbody td {
  margin-left: 16px;
  border: none;
  height: 54px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  padding: 16px;
  color: var(--cool-gray-900);
  transition: all 0.5s ease;
}
.dashboard-table-content table tbody td:hover {
  transform: scale(1);
  box-shadow: var(--box-shadow);
}
.dashboard-table-content table tbody td.time-column {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--cool-gray-500);
}
.dashboard-table-content table tbody td div {
  display: inline;
  border-radius: 10px;
  padding: 2px 10px;
}
.dashboard-table-content table tbody td .done {
  background-color: var(--green-100);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--green-800);
}
.dashboard-table-content table tbody td .canceled {
  background-color: var(--red-200);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--red-800);
}
.dashboard-table-content table tbody td .pending {
  background-color: var(--blue-100);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--blue-800);
}
.dashboard-products-list {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: #fff;
}
.dashboard-products-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.dashboard-products-list-header {
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 60px;
}
.dashboard-products-list-header h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-products-list-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  height: auto;
  margin: 16px;
}
.dashboard-products-list-content-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.dashboard-products-list-content-header-searchbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 367px;
  height: 40px;
  padding-left: 1px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 4px;
}
.dashboard-products-list-content-header-searchbox input {
  display: flex;
  align-items: center;
  width: calc(100% - 45px);
  height: 35px;
  border: none;
  padding: 8px 0 8px 12px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--cool-gray-900);
}
.dashboard-products-list-content-header-searchbox button {
  height: 35px;
  border: none;
  background-color: #fff;
  padding: 0;
  padding: 0 15px 0 11px;
  cursor: pointer;
}
.dashboard-products-list-content-header-searchbox button i {
  font-size: 1.4rem;
}
.dashboard-products-list-content-header-actions {
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px);
}
.dashboard-products-list-content-header-actions button {
  height: 100%;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.dashboard-products-list-content-header-actions #addbtn {
  width: 102px;
  background-color: var(--blue-600);
}
.dashboard-products-list-content-header-actions #addbtn a {
  text-decoration: none;
  color: #fff;
}
.dashboard-products-list-content-header-actions #filterShowBtn {
  width: 98px;
  background-color: #fff;
  color: var(--blue-600);
}
.dashboard-products-list-content-header-actions #filterHideBtn {
  width: 98px;
  background-color: #fff;
  color: var(--blue-600);
}
.dashboard-products-list-content-filter {
  width: 100%;
  height: 200px;
  padding: 32px 24px;
}
.dashboard-products-list-content-filter-grid {
  display: grid;
  grid-template-columns: calc((100% - 16px) / 2) calc((100% - 16px) / 2);
  justify-content: space-between;
  gap: 24px 16px;
}
.dashboard-products-list-content-filter-grid input {
  height: 56px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--cool-gray-900);
}
.dashboard-products-list-content-table {
  width: 100%;
  height: auto;
}
@media screen and (max-width: 450px) {
  .dashboard-products-list-content-table {
    width: 100%;
    overflow-x: auto;
  }
}
.dashboard-products-list-content-table table {
  width: 100%;
  height: auto;
  max-height: 100%;
  border-radius: 12px;
  border: none;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
}
.dashboard-products-list-content-table table thead {
  width: 100%;
  height: 50px;
  text-align: left;
  background-color: var(--cool-gray-050);
}
.dashboard-products-list-content-table table thead th {
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  padding: 16px;
}
.dashboard-products-list-content-table table tbody {
  width: 100%;
  border: none;
}
.dashboard-products-list-content-table table tbody tr.even-row {
  background-color: var(--cool-gray-050);
}
.dashboard-products-list-content-table table tbody td {
  margin-left: 16px;
  border: none;
  height: 54px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-align: left;
  padding: 16px;
  color: var(--cool-gray-900);
  transition: all 0.5s ease;
  cursor: pointer;
}
.dashboard-products-list-content-table table tbody td:hover {
  transform: scale(1);
  box-shadow: var(--box-shadow);
}
.dashboard-products-list-content-table table tbody td.time-column {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--cool-gray-500);
}
.dashboard-products-list-content-table table tbody td div {
  display: inline;
  border-radius: 10px;
  padding: 2px 10px;
}
.dashboard-products-list-content-table table tbody td .stocking {
  background-color: var(--green-100);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--green-800);
}
.dashboard-products-list-content-table table tbody td .out-of-stock {
  background-color: var(--red-200);
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: var(--red-800);
}
.dashboard-products-list-content-table table tbody td i {
  font-size: 1.3em;
  cursor: pointer;
}
.dashboard-products-list-content-table table tbody td a {
  padding: 10px;
  color: var(--blue-700);
  text-decoration: none;
  cursor: pointer;
}
.dashboard-products-list-content-table table tbody td button {
  border: none;
  background-color: transparent;
  color: var(--red-700);
  cursor: pointer;
}
.dashboard-products-list-content-table table tbody td a + button {
  margin-left: 10px;
}
.dashboard-products-list-content-footer {
  display: flex;
  flex-direction: row;
  height: 56px;
  padding: 18px;
  justify-content: flex-end;
  color: var(--cool-gray-500);
  font-weight: 400;
  font-size: 12px;
  line-height: 166%;
}
.dashboard-products-list-content-footer select {
  margin-left: 8px;
  cursor: pointer;
}
.dashboard-products-list-content-footer select option {
  color: var(--cool-gray-900);
  background-color: white;
}
.dashboard-products-list-content-footer #table-pagination {
  display: flex;
  flex-direction: row;
  margin-left: 33px;
  color: var(--cool-gray-900);
}
.dashboard-products-list-content-footer #table-pagination button {
  margin-left: 42px;
  border: none;
  background: none;
  color: var(--cool-gray-500);
  cursor: pointer;
}
.dashboard-add-products {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: #fff;
}
.dashboard-add-products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.dashboard-add-products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 60px;
}
.dashboard-add-products-header h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-add-products-header-actions {
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px);
}
.dashboard-add-products-header-actions button {
  height: 100%;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.dashboard-add-products-header-actions #saveBtn {
  width: 80px;
  background-color: var(--blue-600);
  color: #fff;
}
.dashboard-add-products-header-actions #backBtn {
  width: 90px;
  background-color: #fff;
  color: var(--cool-gray-700);
}
.dashboard-add-products-header-actions #backBtn a {
  text-decoration: none;
}
.dashboard-add-products-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  height: auto;
  margin: 0 16px 16px;
  padding: 32px 24px;
}
.dashboard-add-products-content-form {
  display: grid;
  grid-template-columns: calc((100% - 16px) / 2) calc((100% - 16px) / 2);
  justify-content: space-between;
  gap: 24px 16px;
}
.dashboard-add-products-content-form input {
  height: 56px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--cool-gray-900);
}
.dashboard-add-products-content-group {
  display: flex;
  flex-direction: column;
}
.dashboard-add-products-content-group .error-message {
  line-height: 150%;
  color: var(--red-500);
  font-size: 12px;
  font-weight: 500;
}
.dashboard-update-products {
  width: 100%;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: #fff;
}
.dashboard-update-products-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
.dashboard-update-products-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 60px;
}
.dashboard-update-products-header h1 {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-update-products-header-actions {
  display: flex;
  flex-direction: row;
  height: calc(100% - 20px);
}
.dashboard-update-products-header-actions button {
  height: 100%;
  border-radius: 8px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.dashboard-update-products-header-actions #updateSaveBtn {
  width: 80px;
  background-color: var(--blue-600);
  color: #fff;
}
.dashboard-update-products-header-actions #backBtn {
  width: 90px;
  background-color: #fff;
  color: var(--cool-gray-700);
}
.dashboard-update-products-header-actions #backBtn a {
  text-decoration: none;
}
.dashboard-update-products-content {
  display: flex;
  flex-direction: column;
  width: calc(100% - 32px);
  height: auto;
  margin: 0 16px 16px;
  padding: 32px 24px;
}
.dashboard-update-products-content-form {
  display: grid;
  grid-template-columns: calc((100% - 16px) / 2) calc((100% - 16px) / 2);
  justify-content: space-between;
  gap: 24px 16px;
}
.dashboard-update-products-content-form input {
  height: 56px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 8px;
  padding: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--cool-gray-900);
}
.dashboard-update-products-content-group {
  display: flex;
  flex-direction: column;
}
.dashboard-update-products-content-group .error-message {
  line-height: 150%;
  color: var(--red-500);
  font-size: 12px;
  font-weight: 500;
}
.dashboard-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  background-color: #fff;
}
@media screen and (max-width: 450px) {
  .dashboard-footer {
    height: 176px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-footer {
    height: 176px;
  }
}
.dashboard-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 24px;
}
@media screen and (max-width: 450px) {
  .dashboard-footer-content {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-footer-content {
    flex-direction: column;
    justify-content: center;
  }
}
.dashboard-footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--cool-gray-500);
}
@media screen and (max-width: 450px) {
  .dashboard-footer-title {
    margin: 48px 32px 35px 32px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-footer-title {
    margin: 48px 32px 35px 32px;
  }
}
.dashboard-footer-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .dashboard-footer-group {
    justify-content: start;
    margin: 0 32px 20px 32px;
  }
}
@media screen and (max-width: 768px) {
  .dashboard-footer-group {
    justify-content: start;
    margin: 0 32px 20px 32px;
  }
}
.dashboard-footer-group i {
  display: flex;
  align-items: center;
  transition: all 0.7s ease;
  color: var(--cool-gray-900);
}
.dashboard-footer-group i:hover {
  transform: scale(2);
}
.dashboard-footer-group i + i {
  margin-left: 30px;
}/*# sourceMappingURL=style.css.map */