@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700&display=swap");
:root {
  --cool-gray-050: #F9FAFB;
  --cool-gray-100: #F3F4F6;
  --cool-gray-200: #E5E7EB;
  --cool-gray-300: #D1D5DB;
  --cool-gray-400: #9CA3AF;
  --cool-gray-500: #6B7280;
  --cool-gray-600: #4B5563;
  --cool-gray-700: #374151;
  --cool-gray-800: #E5E7EB;
  --cool-gray-900: #1F2937;
  --gray-500: #71717A;
  --red-050: #FDF2F2;
  --red-100: #E1EFFE;
  --red-200: #C3DDFD;
  --red-300: #A4CAFE;
  --red-400: #76A9FA;
  --red-500: #3F83F8;
  --red-600: #1C64F2;
  --red-700: #1A56DB;
  --red-800: #1E429F;
  --red-900: #233876;
  --blue-050: #EBF5FF;
  --blue-100: #E1EFFE;
  --blue-200: #C3DDFD;
  --blue-300: #A4CAFE;
  --blue-400: #76A9FA;
  --blue-500: #3F83F8;
  --blue-600: #1C64F2;
  --blue-700: #1A56DB;
  --blue-800: #1E429F;
  --blue-900: #233876;
  --green-050: #F3FAF7;
  --green-100: #DEF7EC;
  --green-200: #BCF0DA;
  --green-300: #84E1BC;
  --green-400: #31C48D;
  --green-500: #0E9F6E;
  --green-600: #057A55;
  --green-700: #046C4E;
  --green-800: #03543F;
  --green-900: #014737;
  --box-shadow-1-color: rgba(0, 0, 0, 0.06);
  --box-shadow-2-color: rgba(0, 0, 0, 0.1);
  --box-shadow: 0px 1px 2px var(--box-shadow-1-color), 0px 1px 3px var(--box-shadow-2-color);
}

:root {
  --font-family: "Inter", sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: overlay;
  margin: 0;
  padding: 0;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 16px;
}
.navbar-left-content {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-left: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
}
.navbar-right-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 70%;
  margin-right: 16px;
}
.navbar-actions {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 12px;
  cursor: pointer;
}
.navbar-actions i {
  color: var(--cool-gray-900);
}
.navbar-user img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.separator {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cool-gray-200);
}

.homepage {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 71px;
  height: 613px;
  left: 0;
}

.sidebar {
  padding: 0px;
  width: 15.625%;
  min-width: 125px;
  max-width: 250px;
  height: 100%;
  border-right: 1px solid var(--cool-gray-200);
}
.sidebar-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 613px;
}
.sidebar-overview {
  display: flex;
  align-items: center;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid var(--cool-gray-200);
  color: var(--blue-600);
  cursor: pointer;
}
.sidebar-overview-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.sidebar-overview-content-icon i {
  width: 16.8px;
  height: 16.8px;
  color: var(--blue-600);
}
.sidebar-overview-content-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.sidebar-items {
  width: 100%;
  height: 520px;
  overflow-y: overlay;
}
.sidebar-items button {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 64px;
  background-color: #fff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.sidebar-items button i {
  width: 16.8px;
  height: 16.8px;
  margin-right: 5px;
}
.sidebar-items button p {
  margin: 0 0 0 2px;
}
.sidebar-items button:hover {
  background-color: var(--green-300);
  color: var(--blue-600);
}
.sidebar-bottom {
  width: 100%;
}
.sidebar-bottom button {
  width: 100%;
  height: 32px;
  background-color: var(--blue-800);
  border: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: var(--blue-100);
}

.dashboard {
  width: 84.375%;
  padding: 16px;
  overflow-y: overlay;
  height: 613px;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.dashboard-chart {
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  width: 100%;
  height: 570.85px;
}
.dashboard-chart-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 506.85px;
}
.dashboard-chart-header {
  margin: 32px 0;
  width: 100%;
  height: 58px;
}
.dashboard-chart-header h1 {
  margin-left: 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-chart-content {
  width: 100%;
  height: 418.85px;
}
.dashboard-chart-content #myChart {
  width: 100%;
  max-width: 1285px;
  max-height: 430px;
  min-width: 400px;
  min-height: 430px;
  height: 100%;
}
.dashboard-tactics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.dashboard-tactics-customers {
  width: 30%;
  max-width: 380.33px;
  height: 448px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 16px;
}
.dashboard-tactics-customers-header {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.dashboard-tactics-customers-header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-tactics-customers-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 370px;
  overflow-y: auto;
}
.dashboard-tactics-customers-content div {
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--cool-gray-200);
}
.dashboard-tactics-customers-content div img {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin-right: 10px;
}
.dashboard-tactics-customers-content div div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
}
.dashboard-tactics-customers-content div div h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin: 0;
}
.dashboard-tactics-customers-content div div h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  margin: 0;
}
.dashboard-tactics-products {
  width: 70%;
  max-width: 920.67px;
  height: 448px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 16px;
}
.dashboard-tactics-products-header {
  width: 100%;
  height: 30px;
  margin-bottom: 20px;
}
.dashboard-tactics-products-header h1 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-tactics-products-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 370px;
  overflow-y: auto;
}
.dashboard-tactics-products-content div {
  display: flex;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid var(--cool-gray-200);
}
.dashboard-tactics-products-content div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  flex: 3;
}
.dashboard-tactics-products-content div div h1 {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin: 0;
}
.dashboard-tactics-products-content div div h2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: var(--cool-gray-500);
  margin: 0;
}
.dashboard-tactics-products-content div p {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 5px 0 0;
}
.dashboard-tactics-products-content div p span {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--cool-gray-900);
  margin-right: 3px;
}
.dashboard-table {
  width: 100%;
  height: 473px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
}
.dashboard-table-container {
  width: 100%;
  height: 441px;
  display: flex;
  flex-direction: column;
}
.dashboard-table-header {
  height: 66px;
  width: 100%;
}
.dashboard-table-header h1 {
  margin: 16px 16px 0 16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-table-header h2 {
  margin: 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-500);
}
.dashboard-table-content {
  height: 375px;
  width: 100%;
  padding: 16px;
  overflow-y: overlay;
}
.dashboard-table-content table {
  width: 100%;
  max-height: 370px;
  border-radius: 12px;
  border: none;
  padding: 2px;
  box-sizing: border-box;
  box-shadow: var(--box-shadow);
  overflow-y: overlay;
}
.dashboard-table-content table thead {
  width: 100%;
  height: 50px;
  text-align: left;
  background-color: var(--cool-gray-050);
}
.dashboard-table-content table thead th {
  border: none;
}
.dashboard-table-content table tbody {
  width: 100%;
  border: none;
}
.dashboard-table-content table tbody td {
  margin-left: 16px;
  border: none;
  height: 60px;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: var(--cool-gray-900);
}
.dashboard-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  box-shadow: var(--box-shadow);
  border-radius: 16px;
}
.dashboard-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: 24px;
}
.dashboard-footer-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--cool-gray-500);
}
.dashboard-footer-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dashboard-footer-group i + i {
  margin-left: 20px;
}/*# sourceMappingURL=style.css.map */