@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Nunito+Sans:wght@200;300;400;600;700&display=swap");

@import "color.scss";
@import "media-queries.scss";

:root {
  --font-family: "Inter", sans-serif;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-y: overlay;
  margin: 0;
  padding: 0;

}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

//navbar
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 0px;
  position: absolute;
  left: 0px;
  top: 0px;

  &-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 16px;
  }

  &-left-content {
    display: flex;
    flex-direction: row;
    width: 30%;
    margin-left: 16px;


    &-logo {
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;
      text-align: center;

      @include mobile {
        display: none;
      }
    }

    &-bars {
      opacity: 0;
      display: flex;
      align-items: center;
      cursor: pointer;

      @include mobile {
        opacity: 1;
        position: absolute;
        font-size: 2rem;
        color: var(--cool-gray-900);
      }
    }
  }

  &-right-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 70%;
    margin-right: 16px;
  }

  &-actions {
    display: flex;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 12px;
    cursor: pointer;


    i {
      color: var(--cool-gray-900);
      display: flex;
      align-items: center;
      font-size: 1.2rem;
      transition: all 0.7s ease;

      &:hover {
        transform: scale(1.5);
      }
    }
  }

  &-user img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
  }
}

.separator {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--cool-gray-200);
}

.homepage {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  top: 71px;
  height: 613px;
  left: 0;

  @include mobile {
    height: 100vh;
  }

  @include tablet {
    height: calc(100vh - 71px);
  }
}

//sidebar
.sidebar {
  padding: 0px;
  width: 15.625%;
  min-width: 125px;
  max-width: 250px;
  height: 100%;
  border-right: 1px solid var(--cool-gray-200);

  @include mobile {
    display: none;
  }

  @include tablet {
    height: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 613px;

    @include tablet {
      height: 100%;
    }
  }


  &-overview {
    display: flex;
    align-items: center;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid var(--cool-gray-200);
    color: var(--blue-600);
    cursor: pointer;
    padding-left: 15px;

    &-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      width: 100%;
      margin: 6px;

      &-icon i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16.8px;
        height: 16.8px;
        color: var(--blue-600);
        margin-right: 5px;
      }

      &-text {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%
      }
    }
  }

  &-items {
    width: 100%;
    height: 520px;
    overflow-x: hidden;
    overflow-y: overlay;

    @include tablet {
      height: calc(100% - 80px);
    }


    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: 64px;
      background-color: #fff;
      border: none;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      color: var(--cool-gray-900);
      transition: all 0.5s ease;
      padding-left: 20px;

      i {
        width: 16.8px;
        height: 16.8px;
        margin-right: 5px;
      }

      p {
        margin: 0 0 0 2px;
      }

      &:hover {
        border-radius: 10px;
        box-shadow: var(--box-shadow);
        color: var(--blue-600);
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  &-bottom {

    width: 100%;

    button {
      width: 100%;
      height: 32px;
      background-color: var(--blue-600);
      border: none;
      font-weight: 600;
      font-size: 12px;
      line-height: 150%;
      color: var(--blue-100);

      &:hover {
        background-color: var(--blue-800);
        cursor: pointer;
      }
    }
  }
}

//dashboard
.dashboard {
  width: 84.375%;
  padding: 16px;
  overflow-y: overlay;
  height: 613px;

  @include mobile {
    width: 100%;
    height: 100%;
  }

  @include tablet {
    width: 100%;
    height: 100%;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;

  }

  &-chart {
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    width: 100%;
    height: 570.85px;

    &-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 506.85px;
    }

    &-header {
      margin: 32px 0;
      width: 100%;
      height: 58px;

      h1 {
        margin-left: 16px;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: var(--cool-gray-900);
      }
    }

    &-content {
      width: 100%;
      height: 418.85px;

      #myChart {
        width: 100%;
        max-width: 1285px;
        max-height: 430px;
        min-height: 430px;
        height: 100%;
        cursor: pointer;
      }
    }
  }

  &-tactics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    @include mobile {
      flex-direction: column;
    }

    @include tablet {
      flex-direction: column;
    }

    &-customers {
      width: 30%;
      max-width: 380.33px;
      height: 448px;
      box-shadow: var(--box-shadow);
      border-radius: 16px;
      padding: 16px;
      cursor: pointer;

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
        max-width: 600px;

      }

      &-header {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;

        h1 {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          color: var(--cool-gray-900);
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        height: 370px;
        overflow-y: auto;
        overflow-x: hidden;

        div {
          width: 100%;
          height: 64px;
          display: flex;
          flex-direction: row;
          align-items: center;
          border-bottom: 1px solid var(--cool-gray-200);
          transition: all 0.5s ease;

          &:hover {
            transform: scale(1.00);
            padding-left: 30px;
          }

          img {
            width: 32px;
            height: 32px;
            border-radius: 100px;
            margin-right: 10px;

          }

          div {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 0;

            h1 {
              font-weight: 600;
              font-size: 14px;
              line-height: 150%;
              color: var(--cool-gray-900);
              margin: 0;
            }

            h2 {
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              color: var(--cool-gray-500);
              margin: 0;
            }
          }
        }
      }
    }


    &-products {
      width: 70%;
      max-width: 920.67px;
      height: 448px;
      box-shadow: var(--box-shadow);
      border-radius: 16px;
      padding: 16px;
      cursor: pointer;

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      &-header {
        width: 100%;
        height: 30px;
        margin-bottom: 20px;

        h1 {
          margin: 0;
          font-weight: 600;
          font-size: 20px;
          line-height: 150%;
          color: var(--cool-gray-900);
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 370px;
        overflow-y: auto;

        div {
          display: flex;
          width: 100%;
          height: 64px;
          border-bottom: 1px solid var(--cool-gray-200);

          div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: left;
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.0);
              margin-left: 30px;
            }

            h1 {
              font-weight: 600;
              font-size: 14px;
              line-height: 150%;
              color: var(--cool-gray-900);
              margin: 0;
            }

            h2 {
              font-weight: 400;
              font-size: 12px;
              line-height: 150%;
              color: var(--cool-gray-500);
              margin: 0;
            }
          }

          p {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 5px 0 0;


            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 150%;
              color: var(--cool-gray-900);
              margin-right: 3px;
            }
          }
        }
      }
    }
  }

  &-table {
    width: 100%;
    height: 473px;
    box-shadow: var(--box-shadow);
    border-radius: 16px;
    cursor: pointer;

    &-container {
      width: 100%;
      height: 441px;
      display: flex;
      flex-direction: column;
    }

    &-header {
      height: 66px;
      width: 100%;


      h1 {
        margin: 16px 16px 0 16px;
        font-weight: 600;
        font-size: 20px;
        line-height: 150%;
        color: var(--cool-gray-900);
      }

      h2 {
        margin: 0 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: var(--gray-500);

      }
    }

    &-content {
      height: 375px;
      width: 100%;
      padding: 16px;
      overflow-y: overlay;

      table {
        width: 100%;
        max-height: 370px;
        border-radius: 12px;
        border: none;
        padding: 2px;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        overflow-y: overlay;

        @include mobile {
          width: 200%;
          overflow-x: auto;
        }

        thead {
          width: 100%;
          height: 50px;
          text-align: left;
          background-color: var(--cool-gray-050);

          th {
            border: none;
            font-weight: 600;
            font-size: 12px;
            line-height: 150%;
            color: var(--cool-gray-500);
            text-align: center;
          }
        }

        tbody {
          width: 100%;
          border: none;

          td {
            margin-left: 16px;
            border: none;
            height: 60px;
            font-weight: 600;
            font-size: 14px;
            line-height: 150%;
            text-align: center;
            color: var(--cool-gray-900);
            transition: all 0.5s ease;

            &:hover {
              transform: scale(1.2);
              box-shadow: var(--box-shadow);
            }
          }
        }
      }
    }
  }

  &-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    box-shadow: var(--box-shadow);
    border-radius: 16px;

    @include mobile {
      height: 176px;
    }

    @include tablet {
      height: 176px;
    }

    &-content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 90%;
      height: 24px;


      @include mobile {
        flex-direction: column;
        justify-content: center;
      }

      @include tablet {
        flex-direction: column;
        justify-content: center;
      }
    }

    &-title {
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--cool-gray-500);

      @include mobile {
        margin: 48px 32px 35px 32px;
      }

      @include tablet {
        margin: 48px 32px 35px 32px;
      }
    }

    &-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      cursor: pointer;

      @include mobile {
        justify-content: start;
        margin: 0 32px 20px 32px;
      }

      @include tablet {
        justify-content: start;
        margin: 0 32px 20px 32px;
      }

      i {
        display: flex;
        align-items: center;
        transition: all 0.7s ease;
        color: var(--cool-gray-900);

        &:hover {
          transform: scale(2.0);
        }
      }

      i+i {
        margin-left: 20px;
      }
    }
  }
}